<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuture.demo.model.dao.UserDao">
    <insert id="insertUser"
            parameterType="SignUpDto">
        INSERT INTO user (email, password, nickname, profile_image)
        VALUES (#{email}, #{password}, #{nickname}, #{profileImg})
    </insert>

    <select id="selectUserByNickname" parameterType="String" resultType="User">
        SELECT * FROM user WHERE nickname = #{nickname}
    </select>

    <select id="selectUserByEmail" parameterType="String" resultType="User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <update id="updateMusical"
            parameterType="Musical">
        UPDATE SET musicals
        title = #{title}, composer = #{composer}, premiere_date = #{premiereDate}, synopsis = #{synopsis}
        WHERE id = #{id}
    </update>

    <delete id="deleteMusical" parameterType="long">
        DELETE musicals
        WHERE id = #{id}
    </delete>

    <select id="searchMusicals" parameterType="String"
            resultType="Musical">
        SELECT * FROM musical
        WHERE ${keyword} LOVE concat('%',#{value},'%')
    </select>
</mapper>